<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>not 0 but O</title>
    <style>

        #table {
            margin:0 auto;
            border-collapse: collapse;
            border: 3px solid #ccc;
        }

        #table td {
            border:1px solid #ccc;
            height: 80px;
            width: 80px;
            text-align: center;
            vertical-align: middle;
            font-family: 'Roboto', sans-serif;
            font-size: 75px;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div id="app">
        <form>
            <p>
            <label for="beginner">初級</label>
            <input type="radio" id="beginner" value="1" v-model.number="level">
            <label for="intermediate">中級</label>
            <input type="radio" id="intermediate" value="2" v-model.number="level">
            <label for="advanced">上級</label>
            <input type="radio" id="advanced" value="3" v-model.number="level">
            </p>
        </form>
        <br>
        <p>{{ levelChange }}</p>
        <table id="table">
            <tr v-for="(row, rowIndex) in states">
                <td v-for="(state, colsIndex) in row" v-on:click="onSelect(rowIndex, colsIndex)">
                    <div style="color:#000;" v-if="state==1">0</div>
                    <div style="color:#000;" v-if="state==2">O</div>
                </td>
            </tr>
        </table>
        <p>{{ message }}</p>
        <button v-on:click="shuffle">シャッフルする</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                states: [],
                message: '',
                level: 1,
                levelName: ['初級', '中級', '上級']
            },
            created: function() {
                this.initData()
            },
            computed: {
                levelChange() {
                    this.initData()
                    return this.levelName[this.level -1]
                }
            },
            methods: {
                onSelect: function(rowIndex, colsIndex) {
                    if(this.states[rowIndex][colsIndex] == 1) {
                        this.message = 'はずれ'
                    } else {
                        this.message = '正解です'
                    }
                },
                shuffle: function() {
                    this.initData()
                },
                initData: function() {
                    this.states = []
                    var rowcol = this.level + 2
                    console.log('rowcol:', rowcol)
                    for (var i=0; i < rowcol; i++) {
                        this.states[i] = []
                        for (var j=0; j < rowcol; j++) {
                            this.states[i][j] = 1
                        }
                    }
                    row = Math.floor(Math.random() * rowcol)
                    col = Math.floor(Math.random() * rowcol)
                    this.$set(this.states[row], col, 2)
                    this.message = 'アルファベット大文字のオーを選んでください。ゼロじゃないよ。'
                }
            }
        })
    </script>
</body>
</html>